<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggg.common" >
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application android:theme="@style/AppTheme">

    </application>
</manifest>
